.form-container {
    margin: 20px;
    text-align: center;
  }
  
  .toggle-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-button:hover {
    background-color: black;
  }
  
  .task-form {
    margin-top: 10px;
  }
  
  .task-input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .task-list {
    color: white;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
  }
  
  .task-item {
    color: white;
    padding: 10px;
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  