body {
  background-color: #20232a;
}
.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #20232a;
  padding: 10px 20px;
  border-bottom: 1px solid #333;
  margin-right: 20px;
  margin-left: 20px
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 15px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.link:hover {
  color: #61dafb;
}

.logout-button {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #61dafb;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #61dafb;
  color: #20232a;
}

/* Media Queries */

/* Mobile devices (portrait and landscape) */
@media (max-width: 480px) {
  .menu-header {
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .logo {
    margin-bottom: 10px;
  }

  .logo-image {
    width: 40px;
    height: 40px;
  }
  
  .nav {
    gap: 10px;
  }

  .link {
    font-size: 1.2rem; /* Smaller font size for mobile */
  }

  .logout-button {
    padding: 8px 15px; /* Larger padding for easier tap targets */
  }
}

/* Tablets and small desktops */
@media (min-width: 481px) and (max-width: 768px) {
  .menu-header {
    padding: 10px 15px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .nav {
    gap: 20px; /* Slightly larger gap for tablets */
  }

  .link {
    font-size: 1.3rem; /* Adjust font size for tablets */
  }

  .logout-button {
    padding: 6px 12px; /* Adjust padding for tablets */
  }
}

/* Desktops and larger screens */
@media (min-width: 769px) {
  .menu-header {
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .nav {
    gap: 15px; /* Default gap size for larger screens */
  }

  .link {
    font-size: 1.5rem; /* Default font size for larger screens */
  }

  .logout-button {
    padding: 5px 10px; /* Default padding size */
  }
}