.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA500; 
    padding: 10px 20px;
  }
  
  .logo {
    flex: start;
    margin-left: 20%;
  }
  
  .nav {
    flex: end;
    display: flex;
    flex-direction: row;
    margin-right: 20%;
  }
  
  .link {
    text-decoration: none;
    color: black; 
    font-size: 20px; 
    margin-right: 20%;
  }
  
 
  