 /* src/components/Header.css */

 .header {
  background-color: #ff6584;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #333;
}

.header-content h1 {
  font-size:5rem;
  margin: 0;
}

.header-content p {
  font-size: 2.5rem;
  color: white;
  margin-top: 5px;
}

/* Media Queries */

/* Mobile devices (portrait and landscape) */
@media (max-width: 480px) {
  .header {
    padding: 15px;
  }

  .header-content h1 {
    font-size: 2.5rem; /* Smaller font size for mobile */
  }

  .header-content p {
    font-size: 1.5rem; /* Smaller font size for mobile */
  }
}

/* Tablets and small desktops */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    padding: 18px;
  }

  .header-content h1 {
    font-size: 4rem; /* Adjust font size for tablets */
  }

  .header-content p {
    font-size: 2rem; /* Adjust font size for tablets */
  }
}

/* Desktops and larger screens */
@media (min-width: 769px) {
  .header {
    padding: 20px;
  }

  .header-content h1 {
    font-size: 5rem; /* Default font size for larger screens */
  }

  .header-content p {
    font-size: 2.5rem; /* Default font size for larger screens */
  }
}